clarify that the URL should refer to the capport API endpoint

The text should make clear that the RFC URL should be used to reach the capport API.

Additionally, captive portals may do content negotiation, though if the content type is not that specified for the capport JSON API format, initial testing by Martin suggests that current browser behaviour when served with content type "applicaton/capport+json" yields:

    """
    sort of OK in Firefox
    plain text in Chrome
    opens a "save as" dialog in Edge and Internet Exploiter
    (I don't have Safari handy, though I probably should)
    """

As such, not doing content negotiation and simply serving the API content as-is may be fine.

There is text now, but it refers to content negotiation and this still needs a suitable citation (so not closing this yet).

Added RFC 7231 section 3.4 and 5.3 references for content negotiation. Will fix further when HTTP experts comment.