add link relation for http-intercept only deployments

As discussed in Montreal, some captive portal deployments are not able to change (or not willing to risk changing) DHCP parameters.  For such deployments, a link relation that identifies the API endpoint may be the simplest deployment method.

Add such text and another URL, urn:ietf:params:capport-api, that can be used in an RFC8288 section 3.3 Link relation header.

Added mention of this in the security section. I think that was all that was needed for this first go 'round.